            * {
                margin: 0px;
                padding: 0px;
            }
            
            .center {
                position: absolute;
                top: 20%;
                left: 30%;
                bottom: 50%;
                right: 20%;
                width: 500px;
            }
            
            .header {
                background-color: rgb(0, 0, 0);
                padding: 10px;
                padding-bottom: 0px;
                margin: 1px;
                color: cornsilk;
                border: 2px solid white;
                border-bottom: black;
            }
            
            .header h1 {
                text-align: center;
            }
            
            .topnav {
                overflow: hidden;
                background-color: black;
                border: 2px solid white;
            }
            
            .topnav button {
                text-align: right;
            }
            
            .topnav a {
                float: left;
                display: block;
                color: rgb(255, 255, 255);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
            
            .topnav a:hover {
                background-color: rgb(55, 156, 240);
                color: black;
            }
            
            #login {
                background-image: url("bg.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                padding: 0%;
                margin: 0;
                border: 10px solid black;
            }
            
            .login form {
                background-color: floralwhite;
                width: 250px;
                padding: 50px;
                margin: 50px;
                border: 2px solid black;
                box-shadow: blueviolet;
                margin-top: 50 px;
                text-align: center;
                margin-left: 35%;
            }
            
            button {
                background-color: rgb(0, 0, 0);
                color: cornsilk;
                padding: 5px;
            }
            
            input {
                padding: 5px;
            }
            
            .footer {
                background-color: black;
                border: 10px solid black;
            }
            
            .footer h6 {
                text-align: center;
                color: white;
                font-size: 1.3rem;
            }