*{
    margin:0;
    padding:0;
    font-family: Roboto;
    
}

.cover{
    width:100vw;
    
}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 0.5cm;
}

.wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 3cm;
    height: 95vh;
}

.photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 0.5cm;
}
.gmailImg{
    width:12cm;
    height:10cm;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.7cm;
    border: thin solid rgb(219, 219, 219);
    border-radius: 5px;
    padding:1.5cm 1cm;
}
.logo{
    width:2cm;
    height: 0.7cm;
}
